















  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#main {
  text-align: center;
  padding: 20px;
}

.tagline {
  font-style: italic;
}



#content:not(.formula) {
    max-width: px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #3498db;
    text-align: center;
}

p {
    line-height: 1.6;
}

ul {
    margin-top: 0;
    padding-left: 20px;
}

.container:not(.formula) {
    height: 20px; }


    
body {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  
 
  
}


.formula{

  color: #1b0909;
  font-size: 1.4em;
 font-weight: 500;

  text-align: center;
}

#main{
  background-color: #4394ff;
  color: #333333;
  font-size: 1.2em;
  padding: 0.8em 0;
  position: fixed;
  top: 0;
  width: 90%;

  text-align: center;
}
#rect,#trai,#velocity{
  width: 400px;
  display: block;
  margin: 0 auto;
  border: 5px solid black;
  padding: 10px;
 
}


h2 {
  
  padding: 0px;
  margin-bottom: 0px;
}

.heading-container {
  background-color: #4394ff;
  color: #333333;
  font-size: 1.2em;
  padding: 0.3em 0;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 50px 0 rgba(2, 0, 31, 0.3);
  z-index: 1;
}
h1 {
 
  padding: 0px;
  margin-bottom: 0px;
}

.heading-container h4 {
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  letter-spacing: 2px;
}
.heading-container h6 {
  font-weight: 0;
  font-family:monospace;
  font-size: 25px;
  
}

.options-container {
  margin: 25em 0 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  text-align: center;
}
.option {
  background-color: #d5d5d5;
  border: none;
  cursor: pointer;
  padding: 0.8em 1.5em;
  border-radius: 0.5em;
  border: none;
  text-transform: capitalize;
}
.container :not(.formula) {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

.active {
  background-color: #4394ff;
  color: #151414;
}


table {
  width: 60%;
  margin-top: 2em;
  border-collapse: collapse;
}

th, td {
  padding: 1em;
  border: 1px solid #dddddd;
  text-align: center;
}

th h2{
  background-color: #4394ff;
  color: #130d0d;
  
}
